@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tech-Friday</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to Tech Friday</a>.</p>
</div>
